@import url(//fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: "Montserrat", "sans-serif";
}

/* Profile Navigation */
.profile_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    margin-top: 2%;
}

#view_games, #sell_games, #edit_profile, #wishlist, #logout {
    background-color: #020659;
    border: solid 1px #C5D1D9;
    color: white;
    width: 7%;
    height: 50px;
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-size: 20px;
}

#edit_profile {
    color: gray;
}

/* Edit Profile */

.edit_profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin-top: 1%;
    color: white;
}

.edit_profile > h1 {
    font-size: 41px;
    margin: 0;
}

#save_changes {
    background-color: #020659;
    border: solid 1px #C5D1D9;
    border-radius: 25px;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 24px;
}

#save_changes:hover {
    background-color: #C5D1D9;
    border-radius: 25px;
    color: #020659;
    border: #020659 solix 1px;
}

/* Profile Settings */

.profile_settings {
    display: flex;
    flex-direction: column;
    gap: 2%;
    color: white;
    margin: 20px auto;
    width: 600px;
}

.full_name {
    display: flex;
    font-size: 28px;
    gap: 20%;
    margin-top: 20px;
}

.full_name > input {
    width: 200px;
    height: 20px;
}

.e_mail {
    display: flex;
    font-size: 28px;
    margin-top: 10px;
    gap: 30%;
}

.e_mail > input {
    width: 200px;
    height: 20px;
}

.username {
    display: flex;
    margin-top: 10px;
    font-size: 28px;
    gap: 20%;
}

.username > input {
    width: 200px;
    height: 20px;
}

.password {
    display: flex;
    margin-top: 10px;
    font-size: 28px;
    gap: 22%;
}

.password > input {
    width: 200px;
    height: 20px;
}

.new_password {
    display: flex;
    margin-top: 10px;
    font-size: 28px;
    gap: 10%;
}

.new_password > input {
    height: 20px;
    width: 200px;
}