
a:link, a:visited {
	text-decoration: none;
}

/* Categories */

.categories {
	display: flex;
	margin: 15px auto 15px auto;
	padding: 0 15px 0 15px;
	gap: 100px;
	background-color: #020659;
	border: solid 1px #C5D1D9;
	border-radius: 35px;
	font-family: "Montserrat", "sans-serif";
	color: white;
	font-size: 20px;
	width: fit-content;
}

/* Games */

.games {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 30%;
	justify-content: center;
	margin-left: 35%;
	gap: 26px;
}

.game_container_1 {
	display: flex;
	gap: 26px;
}

.game_container_2 {
	display: flex;
	gap: 26px;
}

/* Game Borders */

.game_box {
	border: solid #C5D1D9;
	border-radius: 26px;
}

/* List Game and Signup */

.signup_listgame {
	display: flex;
	justify-content: center;
}

.listgame {
	display: flex;
	flex-direction: column;
	background-color: #020659;
	border: solid 3px #C5D1D9;
	border-radius: 25px;
	margin-right: 2%;
	margin-top: 20px;
	line-height: 5px;
	height: fit-content;
	font-family: "Montserrat", "sans-serif";
	font-weight: 300;
}

.listgame > h5 {
	width: auto;
}

.price_input {
	margin-left: 5%;
}

button {
	background-color: #020659;
	color: #C5D1D9;
	border: solid 1px gray;
	border-radius: 15px;
	margin: 10px 0 5px 15px;
	width: 150px;
	font-family: "Montserrat", "sans-serif";
	font-size: 14px;
	font-weight: 500;
}

.list_game_text {
	font-size: 18px;
	width: 150px;
	margin: 30px 0 5% 10px;
}

.submit {
	bottom: 10px;
}

.list_game_text {
	font-size: 20px;
}

.list_game_text, .submit {
	color: #C5D1D9;
	text-align: center;
}

.list_text {
	color: #C5D1D9;
	padding-left: 10px;
}

.signup {
	display: flex;
	flex-direction: column;
	background-color: #020659;
	border: solid 2px #C5D1D9;
	border-radius: 25px;
	color: #C5D1D9;
	flex-wrap: wrap;
	line-height: 0.5px;
	margin-top: 20px;
	width: 350px;
}

.signup_text {
	padding-left: 10px;
	padding-top: 5px;
}

.agree_container {
	display: flex;
	padding-left: 5px;
}

.agree_text {
	font-size: 10px;
	margin-right: auto;
}

.terms_text {
	font-size: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.terms_text {
	text-decoration: underline;
}