/* For Mobile Phones, example: All iPhones according too Firefox Developer Edition */

@media only screen and (max-width: 768px) {

    #logo_img {
        width: 100%;
    }

    nav {
        justify-content: center;
        gap: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #home_icon, #search_icon, #cart_icon, #question_icon {
        width: 45px;
        height: auto;
    }

    #profile_icon {
        width: 30px;
        height: 32px;
    }	

    #profile_icon:hover {
        width: 35px;
        height: auto;
    }
    
    #home_icon:hover, #search_icon:hover, #cart_icon:hover, #question_icon:hover {
        width: 50px;
        height: auto;
    }

    .categories {
        justify-content: center;
        width: 330px;
        gap: 8px;
        border-radius: 0px;
    }

    .games {
        flex-wrap: wrap;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        gap: 26px;
    }

    .game_container_1, .game_container_2 {
        flex-direction: column;
    }

    .game_container_2 {
        margin-top: 5%;
    }

    #copyright {
        width: 150px;
    }

/* List.html */

    .game_list {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding: auto;
    }

    .game-api {
        width: 100%;
        text-align: center;
    }

    #view_game {
        height: auto;
    }

    .search_tags {
        display: none;
    }

/* game.html */

    .uniqueGame {
        width: 100%;
        text-align: center;
    }

    #apiImage {
        width: 90%;
    }

    #genreApi {
        text-align: center;
        width: 30%;
    }

    .purchaseButton {
        width: 80%;
    }

/* checkout.html */
    
    .h1_text > h1 {
        font-size: 38px;
    }
    
    .h1_text > h2 {
        font-size: 28px;
    }
    
    /* Cart */
    .cart {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }

    .payment_method {
        display: flex;
        text-align: center;
    }
    
    .payment_method > h2 {
        font-size: 16px;
    }
    
    .select_payment {
        flex-direction: row;
    }
    
    .select_payment > input {
        width: 15px;
        height: 15px;
    }
    
    #visa, #mastercard, #paypal {
        width: 16%;
    }

    #complete {
        font-size: 20px;
        height: auto;
    }

/* Success.html */

    .page > h1 {
        font-size: 20px;
    }

/* Edit Profile */

    .profile_nav {
        margin-top: 5%;
    }
    
    #editButton {
        width: 95%;
        font-size: 15px;
    }

    .edit_profile {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .edit_profile > h1 {
        font-size: 30px;
        gap: auto;
    }

    .profile_settings {
        gap: 2%;
        color: white;
        margin: 0 auto;
        width: auto;
    }

    .full_name, .e_mail, .username, .password, .new_password {
        flex-direction: column;
        gap: 20px;
        margin: 0 auto 10px;
    }

    .full_name, .e_mail, .username, .password, .new_password > input {
        align-items: center;
    }

/* Contact Page */

    .contact_page > p {
        font-size: 18px;
    }

    #select_topic {
        font-size: 16px;
    }



}

/* Tablet */

@media only screen and (min-width: 768px) {
    
    nav {
        margin: 0 auto;
    }

    .categories {
        width: fit-content;
        font-size: 20px;
        gap: 15px;
    }

    .games {
        width: auto;
        margin: 0 auto;
    }

    .game_container_1, .game_container_2 {
        flex-direction: row;
    }

/* list.html */

    #view_game_works, #view_game {
        height: fit-content;
    }

/* game.html */
    
    #apiImage {
        width: 60%;
    }

    #genreApi {
        text-align: center;
        width: 30%;
    }

/* edit.html */

    .page > h1 {
        font-size: auto;
    }

    .edit_profile {
        margin-left: auto;
        margin-right: auto;
        gap: auto;
    }

    #editButton {
        width: auto;
        height: auto;
    }

    .profile_settings {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .full_name, .e_mail, .username, .password, .new_password {
        width: auto;
    }

}

/* Laptop */

@media only screen and (min-width: 1200px) {
}

/* For Desktop */

@media only screen and (min-width: 1600px) {
    #select_topic {
        font-size: 36px;
    }
}

/* Bigger Monitors */

@media only screen and (min-width: 2000px) {
}