.logo {
	display: flex;
	justify-content: center;
}

nav {
	display: flex;
}

body {
	background-color: #1D2540;
}

.categories {
	display: flex;
	color: white;
	justify-content: center;
	font-size: 21px;
	align-content: space-around;
	gap: 26px;
}

.games {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 30%;
	justify-content: center;
	margin-left: 35%;
}

.game_container_1 {
	display: flex;
	
}

.game_container_2 {
	display: flex;
}

.gamebox {
	border: 6px;
	border-radius: 3px;
}
