@import url(//fonts.googleapis.com/css?family=Montserrat);

/* Global Styling */

a:link, a:visited {
	text-decoration: none;
	color: white;
}

p, label, h1, h2, h3, h4, h5 {
    font-family: "Montserrat", "sans-serif";
}

body {
    font-family: "Montserrat", "sans-serif";
}

.logo {
	display: flex;
	justify-content: center;
}

/* Navigation Bar */

nav {
	display: flex;
	justify-content: center;
	gap: 2%;
}

/* Navbar Icons */

#home_icon, #search_icon, #cart_icon, #question_icon {
	display: flex;
	width: 60px;
	height: 60px;
	background-color: #C5D1D9;
	border: solid 10px #C5D1D9;
	border-radius: 25%;
}

#profile_icon {
	display: flex;
	width: 55px;
	height: 50px;
	background-color: #C5D1D9;
	border: solid 15px #C5D1D9;
	border-radius: 25%;
}	

#profile_icon:hover {
	width: 50px;
	height: 45px;
}

#home_icon:hover, #search_icon:hover, #cart_icon:hover, #question_icon:hover {
	width: 55px;
	height: 55px;
}

body {
	background-color: #1D2540;
}

/* Main Page */

/* Categories */

.categories {
	display: flex;
	margin: 15px auto 15px auto;
	padding: 0 15px 0 15px;
	gap: 100px;
	background-color: #020659;
	border: solid 1px #C5D1D9;
	border-radius: 35px;
	font-family: "Montserrat", "sans-serif";
	color: white;
	font-size: 20px;
	width: fit-content;
}

/* Games */

.games {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 30%;
	justify-content: center;
	margin-left: 35%;
	gap: 26px;
}

.game_container_1 {
	display: flex;
	gap: 26px;
}

.game_container_2 {
	display: flex;
	gap: 26px;
}

/* Game Borders */

#game_box {
	border: solid #C5D1D9;
	border-radius: 26px;
}

/* List Game and Signup */

.signup_listgame {
	display: flex;
	justify-content: center;
}

.home_listgame {
	display: flex;
	flex-direction: column;
	background-color: #020659;
	border: solid 3px #C5D1D9;
	border-radius: 25px;
	margin-right: 2%;
	margin-top: 20px;
	line-height: 5px;
	height: fit-content;
	font-family: "Montserrat", "sans-serif";
	font-weight: 300;
}

.home_listgame > h5 {
	width: auto;
}

#price_input {
	margin-left: 5%;
}

#signup_button {
	background-color: #020659;
	color: #C5D1D9;
	border: solid 1px gray;
	border-radius: 15px;
	margin: 10px 0 5px 15px;
	width: 150px;
	font-family: "Montserrat", "sans-serif";
	font-size: 14px;
	font-weight: 500;
}

#home_list_game_text {
	font-size: 18px;
	margin: 30px 0 5% 10px;
}

#submit {
	bottom: 10px;
}

#home_list_game_text, #submit {
	color: #C5D1D9;
	text-align: center;
}

#home_list_text {
	color: #C5D1D9;
	padding-left: 10px;
}

.signup {
	display: flex;
	flex-direction: column;
	background-color: #020659;
	border: solid 2px #C5D1D9;
	border-radius: 25px;
	color: #C5D1D9;
	flex-wrap: wrap;
	line-height: 0.5px;
	margin-top: 20px;
	width: 350px;
}

#signup_text {
	padding-left: 10px;
	padding-top: 5px;
}

.agree_container {
	display: flex;
	padding-left: 5px;
}

#agree_text {
	font-size: 10px;
	margin-right: auto;
}

#terms_text {
	font-size: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	text-decoration: underline;
}

/* List Page */

.list_page {
    display: flex;
    justify-content: center;
}

/* Games */

.game_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 5%;
}

.allGames {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    color: #C5D1D9;
}

#view_game, #view_game_works {
    background-color: #020659;
    border: solid 1px #707070;
    color: white;
    border-radius: 25px;
    height: 80%;
    width: 100%;
}

#view_game > h4 {
    font-weight: 300;
    font-size: 14px;
}

#view_game_works > h4 {
    font-weight: 300;
    font-size: 14px;
}

#view_game_works:hover {
    background-color: #707070;
    border-radius: 25px;
}

#game_box_list {
	border: solid #C5D1D9;
	border-radius: 26px;
    height: 80%;
    width: 80%;
}

/* Search Box */

.search_tags {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 70%;
    margin-top: 2%;
}

.search {
    display: flex;
    flex-direction: row;
    background-color: #020659;
    width: 105%;
    border: solid 1px #707070;
    border-radius: 15px;
    color: white;
    margin: 30px 0 30px 0;
}

#search_button {
    border-radius: 25px;
    margin: 10px 10px 0 auto;
    height: 25px;
    width: auto;
}

#search_button > h5 {
    margin: 5px;
}

#search_box {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 130px;
    margin: 10px 0 10px 15px;
    border-radius: 25px;
}

#whiteline {
    opacity: 40%;
    width: 100%;
}

/* Api */

.game-api {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 30%;
    margin-top: 3%;
}

.ratingRelease {
    display: flex;
}

#apiRating {
    background-color: #020659;
    border: solid 1px #707070;
    color: white;
    text-align: center;
}

#apiReleaseTop {
    background-color: #020659;
    border: solid 1px #707070;
    color: white;
    text-align: center;
}

a#imageLink {
    width: 50%;
    margin: auto;
}

#imageLink > img {
	border: solid #C5D1D9;
	border-radius: 26px;
    width: 100%;
}

/* Tags */

.tags {
    display: flex;
    flex-direction: column;
    background-color: #020659;
    border: solid 1px #707070;
    border-radius: 25px;
    color: white;
}

.tags > h4 {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

label {
    display: flex;
}

.action, .adventure, .puzzle, .sim, .horror, .rpg {
	display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#filter {
    display: flex;
    height: auto;
    width: fit-content;
    margin: 10px 0 10px 30px;
    border: solid 1px #707070;
    border-radius: 25px;
}

/* Games */

/* Game Page */

.uniqueGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C5D1D9;
}

.uniqueGameGenre {
    display: flex;
    margin: auto;
    margin-top: 3%;
    gap: 1%;
    flex-direction: row;
}

#genreApi {
    background-color: #020659;
    border: #707070 solid 2px;
    color: #C5D1D9;
    width: 10%;
    text-align: center;
}

#apiImage {
    width: 40%;
    height: auto;
    border: #707070 solid 5px;
    border-radius: 10%;
}

#apiDescription {
    width: 70%;
    text-align: center;
    font-size: 16px;
}

.purchaseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #020659;
    border: solid 1px #707070;
    border-radius: 10%;
    width: 30%;
}

#apiPurchase {
    border: none;
    color: white;
    font-size: 1.5em;
}

.purchaseButton:hover {
    background-color: #707070;
}

#apiRelease {
    font-size: 1.3em;
}

/* Edit Page */

/* Profile Navigation */
.profile_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    margin-top: 2%;
}

#editButton {
    background-color: #020659;
    border: solid 1px #C5D1D9;
    color: white;
    width: 7%;
    height: 50px;
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-size: 20px;
}

#edit_profile {
    color: gray;
}

/* Edit Profile */

.edit_profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin-top: 1%;
    color: white;
}

.edit_profile > h1 {
    font-size: 41px;
    margin: 0;
}

#change {
    background-color: #020659;
    border: solid 1px #C5D1D9;
    border-radius: 25px;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 24px;
}

#change:hover {
    background-color: #C5D1D9;
    border-radius: 25px;
    color: #020659;
    border: #020659 solix 1px;
}

/* Profile Settings */

.profile_settings {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    color: white;
    margin-top: 2%;
	margin-left: 37%;
    width: 600px;
}

.form {
    margin-top: 10px;
    font-size: 28px;
    gap: 10%;
}

.form > input {
    height: 20px;
    width: 200px;
}

.form-error {
    display: none;
    color: red;
}

/* Checkout */

/* Checkout Page */
.h1_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Montserrat", "sans-serif";
    color: white;
}

.h1_text > h1 {
    font-weight: bolder;
    font-size: 48px;
}

.h1_text > h2 {
    font-weight: bold;
    font-size: 38px;
}

/* Cart */
.cart {
    display: flex;
    flex-direction: row;
    background-color: #020659;
    border: solid 1px #707070;
    color: white;
    margin-left: 30%;
    width: 40%;
    height: 200px;
}

.cart > p {
    width: 19%;
    text-align: center;
    margin-left: 5%;
    margin-top: 8%;
}

.total {
    flex-direction: column;
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
    line-height: 2px;
}

.total > label {
    font-size: 24px;
}

.total > h3 {
    font-size: 38px;
}

/* Payment Method */
.payment_method {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.payment_method > h2 {
    font-size: xx-large;
}

.select_payment {
    flex-direction: row;
}

.select_payment > input {
    width: 25px;
    height: 25px;
}

#mastercard {
    width: 5%;
}

#visa {
    width: 5%;
    background-color: #707070;
    border-radius: 25px;
}

#paypal {
    width: 6%;
    background-color: #707070;
    border-radius: 25px;
}

/* Complete Purchase */

.complete {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    margin-top: 2%;
}

#complete {
    font-size: 43px;
    font-family: "Montserrat", "sans-serif";
    background-color: #020659;
    border: solid 1px #707070;
    border-radius: 20px;
    height: 90px;
    color: white;
}

#complete:hover {
    background-color: #707070;
    border-radius: 20px;
}

/* Contact Page */

.contact_page {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;

}

.contact_page > h1 {
    font-size: 40px;
}

.contact_page > p {
    font-size: 31px;
    line-height: 1px;
    margin-top: 4%;
}

#select_topic {
    background-color: #C5D1D9;
    font-size: 36px;
    width: 20%;
    text-align: center;
    margin-left: 40%;
}

/* Checkout Success */

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.page > h1 {
    color: white;
    font-size: 48px;
}

.page > img {
    margin-left: 40%;
    width: 20%;
}

.page > h3, img {
    line-height: 1px;    
}

.page > h3 {
    color: gray;
    font-size: 26px;
}

.launcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightgrey;
}

/* Footer */

footer {
	display: flex;
	flex-direction: column;
	margin: 3% auto;
	align-items: center;
	width: 20%;
	position: relative;
	color: white;
	font-family: "Montserrat", "sans-serif";
}
