@import url(//fonts.googleapis.com/css?family=Montserrat);

/* font-family: "Montserrat", "sans-serif"; */

p {
	font-family: "Montserrat", "sans-serif";
	font-weight: 400;
}

h5 {
	font-family: "Montserrat", "sans-serif";
	font-weight: 500;
	font-style: normal;
}

.logo {
	display: flex;
	justify-content: center;
}

/* Navigation Bar */

nav {
	display: flex;
	justify-content: center;
}

/* Navbar Icons */

#home_icon, #search_icon, #cart_icon, #question_icon {
	display: flex;
	width: 60px;
	height: 60px;
	background-color: #C5D1D9;
	border: solid 10px #C5D1D9;
	border-radius: 25%;
	margin-left: 15px;
	margin-right: 15px;
}

#profile_icon {
	display: flex;
	width: 55px;
	height: 50px;
	background-color: #C5D1D9;
	border: solid 15px #C5D1D9;
	border-radius: 25%;
	margin-left: 15px;
	margin-right: 15px;
}	

body {
	background-color: #1D2540;
}

/* Footer */

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 37%;
	width: 20%;
	position: relative;
	color: white;
	font-family: "Montserrat", "sans-serif";
	margin-top: 2%;
}